<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sajagjain.bikepool">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCdtN-rtQrW2V6JjTdHTpFPr-ku9Zo-MdQ" />

        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".IntroductionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".OTPWindow"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PassengerMode" />
        <activity android:name=".DriverMode" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DriverFormWindow"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".UserDetailWindow" />
        <activity android:name=".SeeDetailOfRequestDriver" />
        <activity android:name=".SeeDetailOfRequestPassenger" />
        <activity android:name=".MyRidesAsPassenger" />
        <activity android:name=".MyRidesAsDriver" />
        <activity android:name=".SeeDetailsOfMyRidesPassenger" />
        <activity android:name=".SeeDetailsOfMyRidesDriver" />
        <activity android:name=".RideEnded" />
        <activity android:name=".AboutUs" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>